[submodule "reference/agents/claude-code-agents"]
	path = reference/agents/claude-code-agents
	url = https://github.com/vizra-ai/claude-code-agents.git
[submodule "reference/agents/claude-code-subagents"]
	path = reference/agents/claude-code-subagents
	url = https://github.com/0xfurai/claude-code-subagents.git
[submodule "reference/agents/awesome-claude-code-subagents"]
	path = reference/agents/awesome-claude-code-subagents
	url = https://github.com/VoltAgent/awesome-claude-code-subagents.git
[submodule "reference/agents/wshobson-agents"]
	path = reference/agents/wshobson-agents
	url = https://github.com/wshobson/agents.git
[submodule "reference/codes/blind_handover_controller"]
	path = reference/codes/blind_handover_controller
	url = https://github.com/davideferrari95/blind_handover_controller.git
[submodule "reference/codes/multimodal_fusion"]
	path = reference/codes/multimodal_fusion
	url = https://github.com/davideferrari95/multimodal_fusion.git
[submodule "reference/codes/mediapipe_gesture_recognition"]
	path = reference/codes/mediapipe_gesture_recognition
	url = https://github.com/davideferrari95/mediapipe_gesture_recognition.git
