[submodule "agents/claude-code-agents"]
	path = agents/claude-code-agents
	url = https://github.com/vizra-ai/claude-code-agents.git
[submodule "agents/claude-code-subagents"]
	path = agents/claude-code-subagents
	url = https://github.com/0xfurai/claude-code-subagents.git
[submodule "agents/awesome-claude-code-subagents"]
	path = agents/awesome-claude-code-subagents
	url = https://github.com/VoltAgent/awesome-claude-code-subagents.git
[submodule "agents/wshobson-agents"]
	path = agents/wshobson-agents
	url = https://github.com/wshobson/agents.git
