[submodule "reference/agents/wshobson-agents"]
	path = reference/agents/wshobson-agents
	url = https://github.com/wshobson/agents.git
[submodule "reference/codes/blind_handover_controller"]
	path = reference/codes/blind_handover_controller
	url = https://github.com/davideferrari95/blind_handover_controller.git
[submodule "reference/codes/multimodal_fusion"]
	path = reference/codes/multimodal_fusion
	url = https://github.com/davideferrari95/multimodal_fusion.git
[submodule "reference/codes/mediapipe_gesture_recognition"]
	path = reference/codes/mediapipe_gesture_recognition
	url = https://github.com/davideferrari95/mediapipe_gesture_recognition.git
[submodule "reference/codes/TestRig"]
	path = reference/codes/TestRig
	url = https://github.com/XiLab-Robotics/TestRig.git
[submodule "reference/codes/TestRig_TF3820_MachineLearningServer"]
	path = reference/codes/TestRig_TF3820_MachineLearningServer
	url = https://github.com/XiLab-Robotics/TestRig.git
	branch = tf3820-machine-learning-server
[submodule "reference/codes/TwinCAT_TF3820_StandaloneModelTest"]
	path = reference/codes/TwinCAT_TF3820_StandaloneModelTest
	url = https://github.com/XiLab-Robotics/TwinCAT-TF3820-StandaloneModelTest.git
	branch = main
