joblib==1.5.3
lightgbm==4.6.0
ml_dtypes==0.5.4
numpy==1.26.4
onnx==1.15.0
onnxconverter-common==1.14.0
onnxmltools==1.16.0
packaging==26.0
pandas==2.3.3
protobuf==3.20.2
python-dateutil==2.9.0.post0
pytz==2026.1.post1
scikit-learn==1.4.2
scipy==1.15.3
six==1.17.0
skl2onnx==1.16.0
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.1
xgboost==3.2.0
